.cardapio {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  h1 {
    font-family: "PT Mono",monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-transform: uppercase;
    margin-bottom: 20px;
   
  

    &::after {
      content: '';
      display: inline-block;
      width: 270px;
      height: 2px;
      background: black;
      margin-left: 2px;

      margin-bottom: 5px;
    }
  }
  .entradas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
    ul {
      font-family: "PT Mono",monospace;
      font-size: 1.125em;
      line-height: 1.66667em;
      line-height: 1.94444em;
      display: flex;
      flex-direction: column;
      h2 {
        @include subtitulo;
        text-align: center;
      }
      
      li {
        span {
          color: $cor-preço;
        }
      }
      li:last-child {
        margin-bottom: 50px;
      }
    }
    .pic {
      max-width: 100px;
      padding-top: 50px;


      img {
        width: 120px;
        border-radius: 50%;
        border: 10px solid #cbc6b9;
      }
    }

  }

  
}