@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap");
/* line 1, ../../../../../Documents/LeScone/assets/scss/_fundo.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 6, ../../../../../Documents/LeScone/assets/scss/_fundo.scss */
body {
  background: #edece4;
  border: 10px solid #cbc6b9;
}

@media (min-width: 200px) {
  /* line 12, ../../../../../Documents/LeScone/assets/scss/_fundo.scss */
  body {
    border: none;
  }
}

/* line 1, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* line 8, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo {
  width: 380px;
}

/* line 11, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo .atendimento {
  margin-top: 60px;
  width: 280px;
}

/* line 14, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo .atendimento .info1 {
  font-family: "PT Mono",monospace;
  font-size: 1.125em;
  line-height: 1.6em;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

/* line 20, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo .atendimento .info2 {
  font-family: "PT Mono",monospace;
  font-size: 1.125em;
  line-height: 1.6em;
  padding-bottom: 15px;
  border-right: 2px solid black;
}

/* line 25, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo .atendimento .telefone {
  font-family: "PT Mono",monospace;
  font-size: 1.125em;
  color: #988c77;
}

/* line 29, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .logo .atendimento .telefone::after {
  content: '/ / / / ';
  letter-spacing: -90px;
  margin-top: 40px;
  display: block;
  color: #2a2426;
  font-size: 220px;
}

/* line 42, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .imagem-cozinha {
  max-width: 600px;
  border: 10px solid #cbc6b9;
}

/* line 45, ../../../../../Documents/LeScone/assets/scss/_principal.scss */
.principal .imagem-cozinha img {
  width: 100%;
}

/* line 1, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* line 8, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio h1 {
  font-family: "PT Mono",monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 17, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio h1::after {
  content: '';
  display: inline-block;
  width: 270px;
  height: 2px;
  background: black;
  margin-left: 2px;
  margin-bottom: 5px;
}

/* line 28, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 33, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas ul {
  font-family: "PT Mono",monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  line-height: 1.94444em;
  display: flex;
  flex-direction: column;
}

/* line 40, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas ul h2 {
  color: #2a2426;
  font-family: "Aref Ruqaa", serif;
  margin-bottom: 24px;
  text-align: center;
}

/* line 46, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas ul li span {
  color: #988c77;
}

/* line 50, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas ul li:last-child {
  margin-bottom: 50px;
}

/* line 54, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas .pic {
  max-width: 100px;
  padding-top: 50px;
}

/* line 59, ../../../../../Documents/LeScone/assets/scss/_cardapio.scss */
.cardapio .entradas .pic img {
  width: 120px;
  border-radius: 50%;
  border: 10px solid #cbc6b9;
}

/*# sourceMappingURL=style.css.map */